
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style-edit.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Edit Contact</title>
</head>
<form method= "POST" action="confirm_id">
	{% csrf_token %}
<body>

	<div class="container">

		<header class="hero">


			<a href="{% url 'index' %}">
			     <i class="fas fa-chevron-circle-left back-btn"></i>
			</a>

			<div class="hero-info">
				<h1 class="name">Are you sure want to delete?</h1>
		
			</div>
		</header>

		
		
            <section class="button-container">
                <a href="{% url 'confirm_id' id.id %}">
                    <div class="update-contact">
                        <i class="fas fa-trash icon-gradient"></i>
                        <input class="type" value="Delete"></div></a>
</section>

</div>

</body>
</form>
</html>

<!-- <div class="update-contact">
	<i class="fas fa-trash icon-gradient"></i> -->